@model Product
    <h2>@Model.Name</h2>
    <p>@Model.Description</p>
    <p>@Model.Seller.FirstName @Model.Seller.LastName</p>
    <p>@Model.DatePosted</p>
    <p>@Model.Price</p>
    <p>@Model.Notes</p>
    <img src="@Model.ProductImage" alt="Alternate Text" />