@model ProductIndexViewModel
    <form asp-controller="product" asp-action="index" method="get">
        <select name="category">
            <option value="all">All</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category">@category</option>
            }

        </select>
        <input type="search" name="search" placeholder="Search" aria-label="Search">
        <button type="submit" aria-label="search"><i class="fas fa-search fa-sm"></i></button>
    </form>
    @foreach (var product in Model.Products)
    {
        <p>@product.Name @product.Description @product.DatePosted @product.Price @product.Notes @product.Condition</p>
        @if (!string.IsNullOrEmpty(product.ProductImage))
        {
            <img src="@product.ProductImage" alt="Alternate Text" />
        }
    }