@model HomePageViewModel
@section heads{
    <link href="@Url.Content("~/css/Home/homepage.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "Home";
}
<div class="home-header">
    <img src="~/img/home-background.png" class="bg-image" />
    <h1>Welcome to TotallyNotOLX!</h1>
    <h2>Sell and buy second hand products easily with TotallyNotOLX</h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <a class="register-button" asp-area="identity" asp-page="/account/register">Register now</a>
    }
</div>
<div class="row services-card-container">
    <div class="col-lg-4 col-12">
        <div class="service">
            <img src="~/img/Services/buy.png" class="service-card-img" />
            <h3>Buy second hand products</h3>
            <p>Choose one of <strong>@Model.ProductsCount</strong> <a asp-controller="product" asp-action="index">products</a> on TotallyNotOLX and contact the seller to buy it.</p>
        </div>
    </div>
    <div class="col-lg-4 col-12 middle-borders">
        <div class="service">
            <img src="~/img/Services/sell.png"  class="service-card-img" />
            <h3>Sell your old possessions</h3>
            <p>Easily sell the item you no longer want/have use of by <a asp-controller="product" asp-action="create">adding</a> it and wait until someone contacts you to get it.</p>
        </div>
    </div>
    <div class="col-lg-4 col-12">
        <div class="service">
            <img src="~/img/Services/save.png"  class="service-card-img" />
            <h3>Save items for later</h3>
            <p>From the page with product's details you can save the item in your <a asp-controller="product" asp-action="saved">favourites collection</a>.</p>
        </div>
    </div>
</div>
<div class="search-form-container">
    <form asp-controller="product" asp-action="index" method="get">
        <h2>Browse from <span class="big-number">@Model.ProductsCount</span> products in TotallyNotOLX</h2>
        <input type="search" name="search" placeholder="Search..." aria-label="Search">
        <select name="category">
            <option value="all">All</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Name">@category.Name</option>
            }
        </select>
        <button type="submit" aria-label="search">Search <i class="fas fa-search fa-sm"></i></button>
    </form>
</div>
<h2 class="section-title">Main product categories</h2>
<div class="categories-cards row">

    @foreach (var category in Model.Categories)
    {
        <a asp-controller="product" asp-action="index" asp-route-category="@category.Name" class="col-lg-2 col-md-4 col-6 category-card">
            <img src="~/img/Categories/@(category.Name).png" alt="@category.Name" />
            <h5>@category.Name</h5>
        </a>
    }
</div>
<section class="homepage-products">
    <div class="container">
        <h3>Latest items</h3>
        <div class="card-deck">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="@product.ProductImage" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <small class="text-muted">Posted: @product.DatePosted</small>
                            <p class="card-price">@product.Price leva</p>
                            <a asp-controller="product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-block btn-primary">See full post</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>




