@model HomePageViewModel
@section heads{
    <link href="@Url.Content("~/css/Home/homepage.css")" rel="stylesheet" type="text/css" />
}
@{
    ViewData["Title"] = "Home";
}
<div class="home-header">
    <img src="~/img/home-background.png" class="bg-image" />
    <h1>Welcome to TotallyNotOLX!</h1>
    <h2>Sell and buy second hand products easily with TotallyNotOLX</h2>
    @if (!User.Identity.IsAuthenticated)
    {
        <a class="register-button" asp-area="identity" asp-page="/account/register">Register now</a>
    }
</div>
<h2 class="section-title">Categories</h2>
<div class="categories-cards row">
    
    @foreach (var category in Model.Categories)
    {
        <a asp-controller="product" asp-action="index" asp-route-category="@category.Name" class="col-lg-1 col-md-4 col-6 category-card">
            <img src="~/img/Categories/@(category.Name).png" alt="@category.Name" />
            <h5>@category.Name</h5>
        </a>
    }
</div>
<section class="homepage-products">
    <div class="container">
        <h3>Latest items</h3>
        <div class="card-deck">
            @foreach (var product in Model.Products)
            {
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top" src="@product.ProductImage" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">@product.Name</h5>
                            <p class="card-text">@product.Description</p>
                            <small class="text-muted">Posted: @product.DatePosted</small>
                            <p class="card-price">@product.Price leva</p>
                            <a asp-controller="product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-block btn-primary">See full post</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>




